/* CSS declarations go here */
.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#content {
  width: 100%;
  height: 100%;
  background-color: white;
}

#slideout-menu {
  background-color: #ddd;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.location-header{
	width:100%;
	height: 40px;
}

.location-header .manual,
.location-header .automatic{
	/*width:50%;*/
	height: 100%;
	float:left;
}

.location-header .glyphicon{
	font-size: 30px;
	margin: 5px;
}

.location-header .automatic{
	background-color: #ccc;
}

.location-header .manual{
	background-color: #ccc;
}


.location-header .highlight{
	background-color: #fff;
	width: 80%;
}
