/* CSS declarations go here */
.map-container {
  width: 100%;
  max-width: 100%;
  height: 500px;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

#content {
  width: 100%;
  height: 100%;
  background-color: white;
}

.thing{
	width: 80%;
	float: right;
}

#slideout-menu {
  background-color: #ddd;
}

.slideout-menu {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
  width: 256px;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
}

.slideout-panel {
  position:relative;
  z-index: 1;
}

.slideout-open,
.slideout-open body,
.slideout-open .slideout-panel {
  overflow: hidden;
}

.slideout-open .slideout-menu {
  display: block;
}

.location-header,
.more-header{
	width:100%;
	height: 40px;
}

.option{
	/*width:50%;*/
	height: 100%;
	float:left;
}

.option2{
	width:50%;
	height: 100%;
	float:left;
}

.location-header .glyphicon,
.more-header .glyphicon{
	font-size: 30px;
	margin: 5px;
}

.location-header .automatic{
	background-color: #ccc;
}

.location-header .manual{
	background-color: #ccc;
}


.location-header .highlight{
	background-color: #fff;
	width: 80%;
}

.more-header{
	position: absolute;
    bottom: 0px;
}

.details-more{
	display: none;
    position: absolute;
    bottom: 40px;
    width:100%;
}

.tohide{
	display: none;
}

.add-more{
	display: none;
    position: absolute;
    bottom: 40px;
    width:100%;
    background-color: #fff;
}
/*
.highlight{
	background-color: #0c0
}*/

.blah{
	color:green;
}